<a href="https://colab.research.google.com/github/fundaylncii/RecommendationSystems/blob/main/ContentBasedRec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.width",500)
pd.set_option("display.expand_frame_repr", False)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

df_ = pd.read_csv("/content/movies_metadata.csv", low_memory=False, nrows=25000)
df = df_.copy()
df.head()
df.shape

(25000, 24)

In [ ]:

tfidf = TfidfVectorizer(stop_words="english")

df[df["overview"].isnull()]
df["overview"] = df["overview"].fillna(" ")
df.head(20)

    adult                              belongs_to_collection    budget                                             genres                                      homepage     id    imdb_id original_language                  original_title                                           overview  popularity                       poster_path                               production_companies                               production_countries release_date      revenue  runtime                                   spoken_languages    status                                            tagline                           title  video  vote_average  vote_count
0   False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...          http://toystory.disney.com/toy-story    862  tt0114709                en                       Toy Story  Led by Woody, Andy's toys live happily in his ...   21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg     [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30  373554033.0     81.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                                                NaN                       Toy Story  False           7.7      5415.0
1   False                                                NaN  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...                                           NaN   8844  tt0113497                en                         Jumanji  When siblings Judy and Peter discover an encha...   17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released          Roll the dice and unleash the excitement!                         Jumanji  False           6.9      2413.0
2   False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...                                           NaN  15602  tt0113228                en                Grumpier Old Men  A family wedding reignites the ancient feud be...   11.712900  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0    101.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Still Yelling. Still Fighting. Still Ready for...                Grumpier Old Men  False           6.5        92.0
3   False                                                NaN  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...                                           NaN  31357  tt0114885                en               Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...    3.859495  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg  [{'name': 'Twentieth Century Fox Film Corporat...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   81452156.0    127.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Friends are the people who let you be yourself...               Waiting to Exhale  False           6.1        34.0
4   False  {'id': 96871, 'name': 'Father of the Bride Col...         0                     [{'id': 35, 'name': 'Comedy'}]                                           NaN  11862  tt0113041                en     Father of the Bride Part II  Just when George Banks has recovered from his ...    8.387519  /e64sOI48hQXyru7naBFyssKFxVd.jpg  [{'name': 'Sandollar Productions', 'id': 5842}...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10   76578911.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Just When His World Is Back To Normal... He's ...     Father of the Bride Part II  False           5.7       173.0
5   False                                                NaN  60000000  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...                                           NaN    949  tt0113277                en                            Heat  Obsessive master thief, Neil McCauley leads a ...   17.924927  /zMyfPUelumio3tiDKPffaUpsQTD.jpg  [{'name': 'Regency Enterprises', 'id': 508}, {...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  187436818.0    170.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released                           A Los Angeles Crime Saga                            Heat  False           7.7      1886.0
6   False                                                NaN  58000000  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...                                           NaN  11860  tt0114319                en                         Sabrina  An ugly duckling having undergone a remarkable...    6.677277  /jQh15y5YB7bWz1NtffNZmRw0s9D.jpg  [{'name': 'Paramount Pictures', 'id': 4}, {'na...  [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...   1995-12-15          0.0    127.0  [{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...  Released  You are cordially invited to the most surprisi...                         Sabrina  False           6.2       141.0
7   False                                                NaN         0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...                                           NaN  45325  tt0112302                en                    Tom and Huck  A mischievous young boy, Tom Sawyer, witnesses...    2.561161  /sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg        [{'name': 'Walt Disney Pictures', 'id': 2}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0     97.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released                             The Original Bad Boys.                    Tom and Huck  False           5.4        45.0
8   False                                                NaN  35000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...                                           NaN   9091  tt0114576                en                    Sudden Death  International action superstar Jean Claude Van...    5.231580  /eoWvKD60lT95Ss1MYNgVExpo5iU.jpg  [{'name': 'Universal Pictures', 'id': 33}, {'n...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   64350171.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                         Terror goes into overtime.                    Sudden Death  False           5.5       174.0
9   False  {'id': 645, 'name': 'James Bond Collection', '...  58000000  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  http://www.mgm.com/view/movie/757/Goldeneye/    710  tt0113189                en                       GoldenEye  James Bond must unmask the mysterious head of ...   14.686036  /5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg  [{'name': 'United Artists', 'id': 60}, {'name'...  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...   1995-11-16  352194034.0    130.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released               No limits. No fears. No substitutes.                       GoldenEye  False           6.6      1194.0
10  False                                                NaN  62000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...                                           NaN   9087  tt0112346                en          The American President  Widowed U.S. president Andrew Shepherd, one of...    6.318445  /lymPNGLZgPHuqM29rKMGV46ANij.jpg  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-11-17  107879496.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Why can't the most powerful man in the world h...          The American President  False           6.5       199.0
11  False                                                NaN         0  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...                                           NaN  12110  tt0112896                en     Dracula: Dead and Loving It  When a lawyer shows up at the vampire's doorst...    5.430331  /xve4cgfYItnOhtzLYoTwTVy5FGr.jpg  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1995-12-22          0.0     88.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released                                                NaN     Dracula: Dead and Loving It  False           5.7       210.0
12  False  {'id': 117693, 'name': 'Balto Collection', 'po...         0  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...                                           NaN  21032  tt0112453                en                           Balto  An outcast half-wolf risks his life to prevent...   12.140733  /gV5PCAVCPNxlOLFM1bKk50EqLXO.jpg  [{'name': 'Universal Pictures', 'id': 33}, {'n...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   11348324.0     78.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                     Part Dog. Part Wolf. All Hero.                           Balto  False           7.1       423.0
13  False                                                NaN  44000000  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...                                           NaN  10858  tt0113987                en                           Nixon  An all-star cast powers this epic look at Amer...    5.092000  /cICkmCEiXRhvZmbuAlsA5D9B2rK.jpg  [{'name': 'Hollywood Pictures', 'id': 915}, {'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   13681765.0    192.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Triumphant in Victory, Bitter in Defeat. He Ch...                           Nixon  False           7.1        72.0
14  False                                                NaN  98000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...                                           NaN   1408  tt0112760                en                Cutthroat Island  Morgan Adams and her slave, William Shaw, are ...    7.284477  /odM9973kIv9hcjfHPp6g6BlyTIJ.jpg  [{'name': 'Le Studio Canal+', 'id': 183}, {'na...  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1995-12-22   10017322.0    119.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released  The Course Has Been Set. There Is No Turning B...                Cutthroat Island  False           5.7       137.0
15  False                                                NaN  52000000  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...                                           NaN    524  tt0112641                en                          Casino  The life of the gambling paradise ‚Äì Las Vegas ...   10.137389  /xo517ibXBDdYQY81j0WIG7BVcWq.jpg  [{'name': 'Universal Pictures', 'id': 33}, {'n...  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1995-11-22  116112375.0    178.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                   No one stays at the top forever.                          Casino  False           7.8      1343.0
16  False                                                NaN  16500000  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...                                           NaN   4584  tt0114388                en           Sense and Sensibility  Rich Mr. Dashwood dies, leaving his second wif...   10.673167  /lA9HTy84Bb6ZwNeyoZKobcMdpMc.jpg  [{'name': 'Columbia Pictures Corporation', 'id...  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...   1995-12-13  135000000.0    136.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released           Lose your heart and come to your senses.           Sense and Sensibility  False           7.2       364.0
17  False                                                NaN   4000000  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...                                           NaN      5  tt0113101                en                      Four Rooms  It's Ted the Bellhop's first night on the job....    9.026586  /eQs5hh9rxrk1m4xHsIz1w11Ngqb.jpg  [{'name': 'Miramax Films', 'id': 14}, {'name':...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-09    4300000.0     98.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Twelve outrageous guests. Four scandalous requ...                      Four Rooms  False           6.5       539.0
18  False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...                                           NaN   9273  tt0112281                en  Ace Ventura: When Nature Calls  Summoned from an ashram in Tibet, Ace finds hi...    8.205448  /wRlGnJhEzcxBjvWtvbjhDSU1cIY.jpg  [{'name': 'O Entertainment', 'id': 5682}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-11-10  212385533.0     90.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released            New animals. New adventures. Same hair.  Ace Ventura: When Nature Calls  False           6.1      1128.0
19  False                                                NaN  60000000  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...                                           NaN  11517  tt0113845                en                     Money Train  A vengeful New York transit cop decides to ste...    7.337906  /jSozzzVOR2kfXgTUuGnbgG2yRFi.jpg           [{'name': 'Columbia Pictures', 'id': 5}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-11-21   35431113.0    103.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                        Get on, or GET OUT THE WAY!                     Money Train  False           5.4       224.0

In [ ]:

tfidf_matrix = tfidf.fit_transform(df["overview"])
tfidf_matrix.shape

(25000, 53130)

In [ ]:
tfidf.get_feature_names_out()

array(['00', '000', '000km', ..., '„Å≤„ÇÅ', 'ÊÇ£ËÄÖ„Åï„Çì„Å®„Åù„ÅÆ‰∏ñÁïå', 'Ê∞¥‰ø£'], dtype=object)

In [ ]:
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
cosinesim = cosine_similarity(tfidf_matrix,tfidf_matrix)
cosinesim.shape

(25000, 25000)

In [ ]:

################################################################3
## BENZERLƒ∞KLERE G√ñRE √úR√úN √ñNERƒ∞LERƒ∞Nƒ∞N YAPILMASI

indices = pd.Series(df.index, index=df["title"])
print(indices)

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Deranged                       24995
When the Game Stands Tall      24996
Aashiqui 2                     24997
ABCs of Death 2                24998
Neurons to Nirvana             24999
Length: 25000, dtype: int64

In [ ]:
indices.index.value_counts()
indices["Hamlet"]
## film isimlerinde √ßoklamalar var

title
Hamlet     1360
Hamlet     1832
Hamlet     3476
Hamlet     3601
Hamlet    13313
Hamlet    16104
Hamlet    18061
Hamlet    18908
Hamlet    21239
dtype: int64

In [ ]:
## tekrar verilerinden son olan g√ºncel deƒüerler bƒ±rakƒ±larak tekrarlar siliniyor
indices = indices[~ indices.index.duplicated(keep="last")]
indices["Hamlet"]
indices.index.value_counts()

title
Toy Story                 1
Into Eternity             1
The Mouse on the Moon     1
The Mudlark               1
Dear Heart                1
                         ..
Nicholas and Alexandra    1
A New Leaf                1
Mon oncle Antoine         1
They Call Me Trinity      1
Neurons to Nirvana        1
Name: count, Length: 23641, dtype: int64

In [ ]:
pd.set_option("display.float_format", lambda x: "%.5f" % x)
movie_index = indices["Hamlet"]
cosinesim[movie_index]

array([0., 0., 0., ..., 0., 0., 0.])

In [ ]:
similarity_score = pd.DataFrame(cosinesim[movie_index], columns= ["score"])
print(similarity_score)

        score
0     0.00000
1     0.00000
2     0.00000
3     0.00000
4     0.01637
...       ...
24995 0.00000
24996 0.00000
24997 0.00000
24998 0.00000
24999 0.00000

[25000 rows x 1 columns]

In [ ]:
## Hamlet filmi ile en y√ºksek benzerliƒüe sahip filmlerin listesi
movie_indeces = similarity_score.sort_values("score", ascending=False)[1:11].index
print(movie_indeces)

Index([24642, 1360, 3601, 2925, 4722, 2726, 17373, 916, 13343, 23251], dtype='int64')

In [ ]:
df["title"].iloc[movie_indeces]

24642            Illusion of Blood
1360                        Hamlet
3601                        Hamlet
2925     Meatballs III: Summer Job
4722                         Bones
2726                Stir of Echoes
17373                     The Ward
916        The Ghost and Mrs. Muir
13343                The Uninvited
23251             Ghost Adventures
Name: title, dtype: object

In [ ]:
def content_based_recommender(title, cosine_sim, dataframe):
    indices = pd.Series(df.index, index=df["title"])
    indices = indices[~ indices.index.duplicated(keep="last")]
    movie_index = indices[title]
    similarity_score = pd.DataFrame(cosinesim[movie_index], columns=["score"])
    movie_indeces = similarity_score.sort_values("score", ascending=False)[1:11].index
    return dataframe["title"].iloc[movie_indeces]

content_based_recommender("The Matrix", cosinesim, df)

167                                    Hackers
6515                                  Commando
20707    Underground: The Julian Assange Story
24202                                 Who Am I
22085                           Berlin Express
9159                                  Takedown
9372                             The Animatrix
10815                                    Pulse
10948                                       23
13887                     The Inhabited Island
Name: title, dtype: object